#nav-area {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
#nav-area .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#nav-area .logo p {
  color: #f34f3f;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  font-family: serif;
}
#nav-area .logo p span {
  color: black;
}
#nav-area nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
#nav-area nav ul {
  display: flex;
  gap: 50px;
}
#nav-area nav ul li {
  list-style-type: none;
}
#nav-area nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
#nav-area nav ul li a .red {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-area nav ul li a .red .white {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  background-color: #f4f4f6;
}
#wrapper .left {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper .left .text {
  position: absolute;
  left: 15%;
}
#wrapper .left .text h1 {
  font-size: 50px;
  font-weight: 400;
}
#wrapper .left .text h1 span {
  color: red;
}
#wrapper .left .text .p {
  margin: 30px 0 50px 0;
}
#wrapper .left .text .p p {
  line-height: 10px;
}
#wrapper .right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
#wrapper .right img {
  width: 100%;
  height: 100%;
}

#links-img {
  margin-top: 30px;
}
#links-img .links {
  display: flex;
  justify-content: center;
}
#links-img .links ul {
  display: flex;
  gap: 20px;
}
#links-img .links ul li {
  list-style-type: none;
}
#links-img .links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
#links-img .links ul li a:hover {
  color: red;
}
#links-img .select {
  display: flex;
  justify-content: center;
  padding-left: 90px;
}
#links-img .select .button {
  background-color: white;
  color: black;
}

#photoes .photo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#photoes .photo .flowers .img {
  width: 300px;
  height: 400px;
  position: relative;
  transition: 2s;
}
#photoes .photo .flowers .img:hover {
  transform: scale(1, 1);
}
#photoes .photo .flowers .img img {
  width: 100%;
  height: 100%;
}
#photoes .photo .flowers .img p {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  background-color: black;
  color: white;
  font-weight: 400;
}
#photoes .photo .flowers .img .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 15px;
  background-color: white;
  color: black;
  font-weight: 400;
}
#photoes .photo .flowers a {
  display: block;
  text-align: center;
  margin-top: 20px;
  line-height: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
}
#photoes .photo .flowers .dollar {
  color: #ddc3b4;
  text-decoration: none;
  display: block;
}
#photoes .photo .flowers .dollar:hover {
  color: red;
}

#video {
  background-color: #f7f7f7;
  margin-top: 50px;
  height: 600px;
  display: flex;
  align-items: center;
}
#video .about {
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;
}
#video .about .title {
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
}
#video .about .title span {
  color: red;
}
#video .about .about-text {
  margin: 30px 0;
}
#video .about .about-text .text {
  color: #7a6a7c;
  line-height: 10px;
}
#video .about .part .heart-text {
  width: 100%;
  display: flex;
  gap: 20px;
}
#video .about .part .heart-text .heart .fa-heart {
  color: red;
}

#experts .about-expert {
  width: 100%;
}
#experts .about-expert h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin: 50px 0;
}
#experts .about-expert p {
  text-align: center;
  font-size: 20px;
  color: #6d6a73;
  line-height: 15px;
}
#experts .expert .img {
  display: flex;
  justify-content: center;
}
#experts .expert .name-expert {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experts .expert .name-expert .name p {
  text-align: center;
  line-height: 10px;
}
#experts .expert .name-expert .name .position {
  color: #c1b5b4;
}

#background .bg {
  background-image: url("../../../img/h3-background-img.jpg");
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background .bg .search h2 {
  color: white;
  font-weight: 300;
  text-align: center;
}
#background .bg .search form {
  margin-top: 20px;
  display: flex;
}
#background .bg .search form input {
  width: 500px;
  height: 60px;
  outline: none;
}
#background .bg .search form input::-moz-placeholder {
  padding-left: 20px;
}
#background .bg .search form input:-ms-input-placeholder {
  padding-left: 20px;
}
#background .bg .search form input::placeholder {
  padding-left: 20px;
}
#background .bg .search form button {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #f34f3f;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}/*# sourceMappingURL=home.css.map */