@import "../../pages/layout/header";
@import "../../Partials/variables";


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #wrapper{
        background-color: #f4f4f6;
        width: 1000px;
       
        .left{
            width: 1200px;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
           position: relative;
            .text{
                position: absolute;
                left: 500px;
                h1{
                    font-size: 50px;
                    font-weight: 400;
                    span{
                        color: red;
                    }
                }
                .p{
                    margin: 30px 0 50px 0;
                    p{
                        line-height: 10px;
                    }
        
                }
               
            }
    
    
            }
            .right{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                img{
                   width: 100%;
                   height: 100%;
                }
            }         
        }


 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    #wrapper{
        background-color: #f4f4f6;
        width: 1000px;
       
        .left{
            width: 1000px;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
           position: relative;
            .text{
                position: absolute;
                left:500px;
                h1{
                    font-size: 50px;
                    font-weight: 400;
                    span{
                        color: red;
                    }
                }
                .p{
                    margin: 30px 0 50px 0;
                    p{
                        line-height: 10px;
                    }
        
                }
               
            }
    
    
            }
            .right{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                img{
                   width: 100%;
                   height: 100%;
                }
            }         
        }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #wrapper{
        background-color: #f4f4f6;
        width: 1000px;
       
        .left{
            width: 1000px;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
           position: relative;
            .text{
                position: absolute;
                left:500px;
                h1{
                    font-size: 50px;
                    font-weight: 400;
                    span{
                        color: red;
                    }
                }
                .p{
                    margin: 30px 0 50px 0;
                    p{
                        line-height: 10px;
                    }
        
                }
               
            }
    
    
            }
            .right{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                img{
                   width: 100%;
                   height: 100%;
                }
            }         
        }
  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width


    
    
 


#wrapper{
    background-color: #f4f4f6;
   
    .left{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        .text{
            position: absolute;
            left: 15%;
            h1{
                font-size: 50px;
                font-weight: 400;
                span{
                    color: red;
                }
            }
            .p{
                margin: 30px 0 50px 0;
                p{
                    line-height: 10px;
                }
    
            }
           
        }


        }
        .right{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            overflow: hidden;
            img{
               width: 100%;
               height: 100%;
            }
        }         
    }
  

    


#links-img{

    margin-top: 30px;
    .links{
            display: flex;
            justify-content: center;
        ul{
            display: flex;
            gap: 20px;
            li{
                list-style-type: $list-type;
                a{
                    text-decoration: $text-decor;
                    text-transform: uppercase;
                  color: black;
                  &:hover{
                    color: red;
                  }
                }

            }
        }
    }

    .select{
        display:flex ;
        justify-content: center;
        margin-left: 90px;
        .button{
            background-color: white;
            color: black;
            
        }
        
    }


}
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #photoes{
       
        .photo{
            width: 100%;
            display: flex;
            justify-content: center;
            
            
            .flowers{
                .img{
                    width: 1000px;
                    height: 400px;
                    position:relative;
                    transition:2s;
                    margin: 0 auto;
                    &:hover{
                        transform: scale(1,1);
                    }
                    img{
                        width: 100%;
                        height: 100%;
                      
                    }
                    p{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        padding: 5px 15px;
                        background-color: black;
                        color: white;
                        font-weight: 400;
                    }
                    .sale{
                        
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        padding: 5px 15px;
                        background-color: white;
                        color: black;
                        font-weight: 400;
                    }
                }
    
                a{
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                    line-height: 5px;
                    text-decoration: $text-decor;
                    text-transform: $uppercase;
                    letter-spacing: 2px;
                    font-size: 12px;
                    color: black;
                }
                .dollar{
                    color: #ddc3b4;
                    text-decoration: $text-decor;
                    display: block;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
       
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
#photoes{
    .photo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        .flowers{
            .img{
                width: 300px;
                height: 400px;
                position:relative;
                transition:2s;
                &:hover{
                    transform: scale(1,1);
                }
                img{
                    width: 100%;
                    height: 100%;
                  
                }
                p{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    padding: 5px 15px;
                    background-color: black;
                    color: white;
                    font-weight: 400;
                }
                .sale{
                    
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    padding: 5px 15px;
                    background-color: white;
                    color: black;
                    font-weight: 400;
                }
            }

            a{
                display: block;
                text-align: center;
                margin-top: 20px;
                line-height: 5px;
                text-decoration: $text-decor;
                text-transform: $uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                color: black;
            }
            .dollar{
                color: #ddc3b4;
                text-decoration: $text-decor;
                display: block;
                &:hover{
                    color: red;
                }
            }
        }
    }
   
}

#video{
    background-color: #f7f7f7;
   height: 700px;
   display: flex;
   align-items: center;
  .about{
    padding-left: 50px;
     padding-top: 50px;
    .title{
        font-size: 50px;
        font-weight: 400;
        line-height: 40px;
        span{
            color: red;
        }
    }
    .about-text{
         margin: 30px 0;
        .text{
            color: #7a6a7c;
            line-height: 10px;
            
        }
    }
    .part{
        .heart-text{
            display: flex;
            gap: 20px;
            .heart{
                .fa-heart{
                    color: red;
                }
            }
        }
    }
  }
}